div {
    text-align:center;
    border: 1px solid black;
}

.Ramkapc {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "num1 num1 num1 num2 num2 num2" 
                         "num1 num1 num1 num3 num4 num4"
                         "num5 num5 num5 num3 num6 num6"
                         "num7 num7 num7 num7 num8 num8"
                         "num9 num10 num11 num11 num12 num13"
                         "num14 num14 num15 num15 num15 num15";
    border: 0;
}


.box1{
    background-color: rgb(58, 58, 245);
    grid-area: num1;
}
.box2{
    background-color: rgb(104, 21, 97);
    grid-area: num2;
}
.box3{
    background-color: rgb(207, 226, 38);
    grid-area: num3;
}
.box4{
    background-color: rgb(219, 75, 75);
    grid-area: num4;
}
.box5{
    background-color: rgb(38, 165, 106);
    grid-area: num5;
}
.box6{
    background-color: rgb(37, 161, 12);
    grid-area: num6;
}
.box7{
    background-color: rgb(37, 161, 12);
    grid-area: num7;
}
.box8{
    background-color: rgb(38, 165, 106);
    grid-area: num8;
}
.box9{
    background-color: rgb(209, 91, 13);
    grid-area: num9;
}
.box10{
    background-color: rgb(58, 58, 245);
    grid-area: num10;
}
.box11{
    background-color: rgb(207, 226, 38);
    grid-area: num11;
}
.box12{
    background-color: rgb(104, 21, 97);
    grid-area: num12;
}
.box13{
    background-color: rgb(216, 119, 156);
    grid-area: num13;
}
.box14{
    background-color: rgb(104, 21, 97);
    grid-area: num14;
}
.box15{
    background-color: rgb(209, 91, 13);
    grid-area: num15;
}
@media(max-width:1200px){
    .Ramkapc {
    display: grid;
    grid-template-columns: 150px 150px 150px 100px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
    grid-template-areas: "num1 num1 num2 num3" 
                         "num1 num1 num4 num4"
                         "num5 num5 num5 num5"
                         "num6 num6 num7 num7"
                         "num8 num9 num10 num11"
                         "num12 num12 num13 num13"
                         "num14 num14 num14 num15";
    border: 0;
}
.box1{
    font-size: 80%;
    background-color: rgb(38, 118, 192);
    grid-area: num1;
}
.box3{
    background-color: rgb(247, 210, 0);
    grid-area: num2;
    font-size: 80%;
}
.box4{
    background-color: rgb(226, 149, 210);
    grid-area: num3;
    font-size: 80%;
}
.box7{
    background-color: rgb(64, 231, 64);
    grid-area: num4;
    font-size: 80%;
}
.box2{
    background-color: rgb(250, 103, 255);
    grid-area: num5;
    font-size: 80%;
}
.box8{
    background-color: rgb(64, 210, 255);
    grid-area: num6;
    font-size: 80%;
}
.box5{
    background-color: rgb(64, 210, 255);
    grid-area: num7;
    font-size: 80%;
}
.box11{
    background-color: rgb(248, 244, 5);
    grid-area: num8;
    font-size: 80%;
}
.box6{
    background-color: rgb(64, 231, 64);
    grid-area: num9;
    font-size: 80%;
}
.box9{
    background-color: rgb(241, 110, 49);
    grid-area: num10;
    font-size: 80%;
}
.box10{
    background-color: rgb(38, 118, 192);
    grid-area: num11;
    font-size: 80%;
}
.box12{
    background-color: rgb(250, 103, 255);
    grid-area: num12;
    font-size: 80%;
}
.box13{
    background-color: rgb(255, 160, 196);
    grid-area: num13;
    font-size: 80%;
}
.box14{
    background-color: rgb(250, 103, 255);
    grid-area: num14;
    font-size: 80%;
}
.box15{
    background-color: rgb(241, 110, 49);
    grid-area: num15;
    font-size: 80%;
}
}
